@* Is password incorrect? *@
@model bool
@{
    ViewData["Title"] = "Privacy Policy";
    
}
<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;" class="container">


    <div class="w-full max-w-xs">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

            <div class="pb-4">
                <div class="font-bold text-xl mb-2">Two step authentication</div>
                <div class="pb-4">
                    <p class="text-green-500 text-base">
                        Congrats, you got it!
                    </p>
                    <p class="text-gray-700 text-base">
                        Let's try another one, the answer is inside:
                    </p>
                </div>
                <div class="pb-4">
                    <img src="~/Images/BlueHint.jpg" />
                </div>
                <p class="text-gray-700 text-base">
                    Please insert the second password:
                </p>
            </div>
            <form method="Post" asp-action="SecondStep">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="Password">Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="pass" name="pass" type="text" value="" />
                    @* if password is incorrect *@
                    @if (Model)
                    {
                        <p class="text-red-500 text-xs italic">Incorrect password</p>
                    }
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Sign In
                </button>               
            </form>

        </div>
        <p class="text-center text-gray-500 text-xs">
            &copy;2020 IFS. All rights reserved.
        </p>
    </div>
</div>
